<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logLayout" value="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message} ${exception:format=tostring}" />
	<variable name="appName" value="Warehouse.Server" />

	<targets>
		<default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="2000" />

		<target xsi:type="File" name="file" fileName="/tmp/logs/${appName}/current.log"
				layout="${logLayout}" archiveFileName="/tmp/logs/${appName}/{####}.log" archiveNumbering="Date"
				archiveEvery="Day" archiveDateFormat="dd-MM-yyyy" maxArchiveFiles="3"/>

		<target xsi:type="ColoredConsole" name="console" detectConsoleAvailable="true" layout="${logLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>